.search-form {
    padding: 0 70px 0 70px;
    display: flex;
    flex-direction: column;
}

.search-form__input {
    box-sizing: border-box;
    font-family: Inter;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    width: 100%;
    padding: 14px 6px 14px 22px;
    background: #2f2f2f;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #8b8b8b;
}

.search__error {
    color: #ee3465;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    top: -20px;
    left: 20px;
}

.search-form__input:focus {
    border-color: #2f2f2f;
    box-shadow: 0 0 10px #2f2f2f;
}

.search-form__button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: inherit;
    border: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search-form__button:hover {
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.9);
    border: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.search-form__icon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: 0;
}

.search-form__container {
    position: relative;
    margin: 60px 0 42px 0;
}

@media screen and (max-width: 769px) {
    .search-form__container {
        margin: 80px 0 41px 0;
    }
    .search-form {
        padding: 0 30px 0 30px;
    }
}

@media screen and (max-width: 450px) {
    .search-form {
        padding: 0 14px 0 14px;
    }
    .search-form__container {
        margin: 80px 0 41px 0;
    }
    .search-form__input {
        font-size: 11px;
    }
}


