.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 1280px;
    padding: 18px 14px;
    flex-shrink: 0;
    padding-bottom: 30px;
    font-size: 10px;
    margin: 0 auto;
}

.header_cover {
    background-color: #073042;
}

.header_auth {
    padding: 56px 10px 50px;
    justify-content: center;
}

.header__logo {
    width: 38px;
    aspect-ratio: 1;
    display: block;
}

.header__link_logo {
    border-radius: 50%;
}

.header__list {
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: center;
    margin: 146px 10px 20px;
    padding: 0;
    list-style: none;
}

.header__link {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.5s ease-out;
    font-weight: 500;
    text-align: right;
    font-style: normal;
    line-height: 16px;
}

.header__link.active {
    text-decoration: underline 2px;
    text-underline-offset: 11px;
}

.header__button {
    background-color: #3DDC84;
    padding: 5px 12px;
    color: #000;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.header__button-menu {
    background-image: url('../../images/main.svg');
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 37px;
    border: none;
    cursor: pointer;
}

.header__button-close {
    position: absolute;
    background-image: url('../../images/close.svg');
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: none;
    top: 13px;
    right: 13px;
    cursor: pointer;
}

.header__wrapper {
    display: none;
    position: relative;
}

.header_active > .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    z-index: 10;
    font-size: 18px;
    background-color: #202020;
    top: 0;
    right: 0;
}

.header__item {
    text-align: center;
    /*padding-bottom: 7px;*/
}

.header__wrapper-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    margin-top: 3px;
    margin-right: 0px;
    border-radius: 40px;
    background: #202020;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    justify-content: center;
    margin-bottom: 46px;

}

.header__link_profile {
    display: block;
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 0;
    box-sizing: border-box;
    text-align: end;
    padding-right: 8px;
}

.header__logo-profile {
    display: block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    /*margin-top: 5px;*/
    /*margin-left: 7px;*/
    border-radius: 50px;
    background: #313131;
    padding: 7px;
}

.header__link_profile.active {
    text-decoration: none;
}


@media (min-width: 320px) {
    .header {
        padding-bottom: 20px;
    }


    .header__button {
        line-height: 16px;
    }
}

@media (min-width: 500px) {
    .header_active > .header__wrapper {
        width: 420px;
    }
}

@media (min-width: 726px) {
    .header_active > .header__wrapper {
        width: 520px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
    }

    .header_login {
        padding-bottom: 18px;
    }

    .header_auth {
        max-width: 396px;
        padding: 232px 0 20px;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .header__button {
        line-height: 22px;
        padding: 8px 20px;
        cursor: pointer;
    }

    .header__link {
        font-size: 12px;
    }

    .header__link:hover {
        opacity: 0.8;
    }

    .header__button-menu {
        width: 44px;
        cursor: pointer;
    }

    .header_active > .header__wrapper {
        width: 520px;
    }

    .header__list {
        margin: 159px 90px 20px;
        gap: 27px;
    }

    .header__item > .header__link {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0px;
    }

    .header__link_profile {
        font-size: 13px;
        line-height: 12px;
        /*margin-bottom: 90px;*/
        /*min-width: 100px;*/
    }

    .header__link.active {
        text-decoration: underline 2px;
        text-underline-offset: 8px;
    }

    .header__button-close {
        top: 22px;
        right: 22px;
        cursor: pointer;
    }

    .header__link_profile.active {
        text-decoration: none;
    }
}

@media (min-width: 880px) {
    .header__wrapper-profile {
        margin-bottom: 0px;
        margin-right: 18px;
    }

    .header.header_login {
        justify-content: stretch;
        padding-bottom: 18px;
    }

    .header__button-menu {
        display: none;
        cursor: pointer;
    }


    .header__wrapper {
        display: flex;
        position: static;
        margin-left: 44px;
        justify-content: space-between;
        width: 100%;
    }

    .header__list {
        flex-direction: row;
        margin: 0;
        gap: 16px;
    }

    .header__item > .header__link {
        font-size: 13px;
        font-weight: 400;
    }


    .header__item:first-of-type {
        display: none;
    }

    .header__button-close {
        display: none;
        cursor: pointer;
    }

    .header__link_profile {
        margin: 0;
        min-width: 100px;
    }

    .header__link.active {
        text-decoration: none;
        font-weight: 500;
    }
}


@media (min-width: 1280px) {
    .header {
        padding-left: 70px;
        padding-right: 70px;
    }

    .header_auth {
        padding: 70px 0 20px;
    }

    .header__link_profile {
        font-size: 13px;
    }

    .header__link {
        font-size: 12px;
    }
}
