.login {
    width: 396px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    font-family: Inter, Arial, serif;
    font-style: normal;

}

.login__greetings {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    margin: 20px 0 40px;
}

.login__label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0 0 13px;

}

.login__input {
    margin: 0;
    padding: 0;
    height: 46px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

}

.login__line {
    width: 100%;
    color: rgba(66, 66, 66, 1);
    background-color: rgba(66, 66, 66, 1);
    height: 1px;
    border: none;
    margin: 0;
}

.login__error {
    visibility: hidden;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 6px 0 6px;
    color: rgba(238, 52, 101, 1);
}

.login__error_active {
    visibility: visible;
}

.login__server-error {
    visibility: hidden;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 155px 0 6px;
    color: rgba(238, 52, 101, 1);
}

.login__server-error_active {
    visibility: visible;
}

.login__button {
    height: 45px;
    background-color: rgba(66, 133, 244, 1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    margin: 0 0 16px;
    transition: 0.3s;
    cursor: pointer;
}

.login__button:hover {
    cursor: pointer;
    opacity: 80%;

}

.login__button_disabled {
    background: rgba(248, 248, 248, .5);
    cursor: not-allowed;
    pointer-events: none;
}

.login__subtitle {
    margin: 0 auto 70px;
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 70px;
}

.login__link {
    color: rgba(66, 133, 244, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.3s;
}

.login__link:hover {
    cursor: pointer;
    opacity: 70%;
}

.login__input:-webkit-autofill,
.login__input:-webkit-autofill:hover,
.login__input:-webkit-autofill:focus,
.login__input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

@media (max-width: 768px) {
    .login {
        margin-top: 20px;
        margin-bottom: 232px;
    }
    .login__greetings {
        margin-top: 0;
    }
    .login__input {
        width: 396px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #2F2F2F;
    }
    .login__server-error {
        margin-top: 153px;
    }
    .login__subtitle {
        margin-bottom: 232px;
    }
}

@media (max-width: 420px) {
    .login  {
        width: 260px;
        margin: 30px auto 0;

    }

    .login__greetings {
        align-self: center;
        margin-bottom: 80px;
    }

    .login__button {
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }
    .login__subtitle {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;

    }

    .login__link {
        font-size: 12px;
        line-height: 15px;
    }
    .login__input {
        width: 260px;
        height: 46px;
    }
    .login__server-error {
        margin-top: 242px;
    }
}
