.movies-card {
    display: flex;
    flex-direction: column;
    background: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: 364px;
    box-sizing: border-box;
    cursor: pointer;
}
.movies-card__img {
    max-width: 364px;
    max-height: 203px;
    object-fit: cover;
    background-color: #222222;
}

.movies-card__about {
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
}

.movies-card__duration {
    padding: 0 0 16px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: #8b8b8b;
}

.movies-card__header {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    width: 289px;
}

.movies-card__icon {
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    background: url('../../../../images/save-active.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 14px;
}

@media screen and (max-width: 1279px) {
    .movies-card:last-child {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .movies-card {
        max-width: 339px;
    }

    .movies-card__img {
        max-width: 339px;
        max-height: 190px;
        object-fit: cover;
        background-color: #222222;
    }

    .movies-card__about {
        padding: 14px 15px;

    }

    .movies-card__header {
        line-height: normal;
        max-width: 260px;
    }
}

@media screen and (max-width: 450px) {
    .movies-card {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        max-height: 237px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .movies-card__img {
        width: 300px;
        height: 168px;
        object-fit: cover;
        background-color: #222222;
    }
    .movies-card__about {
        padding: 14px 14px;

    }
    .movies-card__header {
        font-size: 12px;
        line-height: 15px;
    }
    .movies-card__icon {
        margin: 0;
    }
    .movies-card__duration {
        padding: 0 0 14px 16px;
    }
}


