.navigation__list {
    width: 100%;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 20px 0;
    list-style: none;
    margin: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    background-color: #272727;
}

.navigation__link {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    text-decoration-line: underline;
}

@media (min-width: 768px) {
    .navigation__link {
        font-size: 13px;
    }
    .navigation__list {
        padding: 24px 0;
        font-size: 13px;
        gap: 40px;
        line-height: 18px;
    }
}


